.about{
    width: 100%;
    margin-top: 90px;
    margin-bottom: 100px;
}
.about-desktop{
    display: flex;

}
.aboutme-description{
    width: 50%;
    height: 600px;
    background-color: #e5e5e5;
    display: flex;
    text-align: center;
    color: #111;
}
.aboutme-mobile{
    display: none;
}
.aboutme-description-container{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    padding-top: 30px;
}
.aboutme-description-container h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
    font-size: 80px;
    color: #000;
    margin-bottom: 40px;
}
.aboutme-text{
    width: 418px;
    height: 143px;
    margin: 0 auto;
}
.aboutme-text p{
    font-size: 15px;
    color: #101011;
}
.button-container{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.button-container button{
    width: 45%;
    height: 44px;
    background-color: #101011;
    border: 1px solid #101011;
    color: #fff;

}
.button-container button a{
    color: #fff;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;

}
.my-preview{
    margin-top: 3.2%;
    margin-left: -42px;
    width: 24%; 
    height: 500px;
    background-color: #fff;
    box-shadow: 0px 0px 30px 10px rgba(255, 255, 255, 0.2);
    position: relative;

}
.my-preview-container{
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
.my-preview-container h3{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 33px;
    line-height: 42.67px;
    text-align: center;
    margin-bottom: 16px;
    color: #101011;
}
.my-preview-image{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;

}
.my-preview-hr{
    width: 106px;
    height: 5px;
    background-color: #000

}
.my-preview-container p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #101011;
    text-align: center;

}
.my-preview-icons{
    display: flex;
    width: 100%;
    height: 60px;
    bottom: 0;
    position: absolute;
    background-color: #101011;
    color: #fff
}
.my-preview-icons-container{
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.my-preview-icons-container a{
    font-size: 30px;
    color: #fff;
}

@media screen and (max-width: 800px){
        
    .about-desktop{
        display: none;
    }
    .aboutme-mobile{
        display: block;
        margin-top: 100px;
    }
    .aboutme-image{
        width: 150px;
        height: 150px;
        background-size: cover;
        background-position: center;
        border-radius: 50%;
        margin: 0 auto;
    }
    .mobile-welcome{
        font-weight: 700;
        font-size: 32px;
        line-height: 54.56px;
        letter-spacing: 10px;
        font-family: 'Nunito', sans-serif;
        text-align: center;
        color: #fff;
        
    }
    .aboutme-mobile-name{
        text-align: center;
    }
    .aboutme-mobile-name p{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-style: normal;
        letter-spacing: 10px;
        line-height: 21.90px;
    }
    .aboutme-mobile-name h3{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 20px;
        line-height: 27px;
        letter-spacing: 10px;
        color: #fff;
    }
    .aboutme-mobile-hr{
        width: 55px;
        height: 2.5px;
        background-color: #fff;
        margin: 0 auto;
        margin-bottom: 40px;

    }
    .aboutme-mobile-text{
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 10px;
        letter-spacing: 3px;
        text-align: center;
        color: #fff;

    }
    .aboutme-mobile-icons{
        width: 50%;
        margin: 30px auto;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }
}

@media screen and (min-width: 750px){
    
    .aboutme-mobile{
        height: calc(100vh - 550px);
    }
}


@media screen and (max-width: 500px){
    
    .aboutme-mobile{
        height: calc(100vh - 200px);
    }
}
@media screen and (max-width: 330px){
    
    .aboutme-mobile{
        height: calc(100vh - 70px);
    }
}
    
