.header{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #101011;
    z-index: 20;


}
.header-container{
    width: 90%;
    height: 83px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-icon{
    line-height: 60px;
}
.header-links{
    width: 42%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.header-links a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}
.header-icons a {
    font-family: 'Nunito' sans-serif;
    font-size: 20px;
    margin-right: 20px;
}
