.header{
    width: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #101011;
    z-index: 20;


}
.header-container{
    width: 90%;
    height: 83px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header-mobile-container{
    display: none;
}
.header-icon{
    line-height: 60px;
}
.header-links{
    width: 42%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}
.header-links a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 18px;
}
.header-icons a {
    font-family: 'Nunito' sans-serif;
    font-size: 20px;
    margin-right: 20px;
}

@media screen and (max-width: 800px){
        
    .header-container{
        display: none;
    }
    .header-mobile-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: 0 auto;
    }
    .header-mobile-icon{
        color: #fff;
    }
    .nav-toggle-bar{
        display: none;
        width: 40px;
        height: 27px;
        cursor: pointer;
        display: inline-block;
    }
    .cross-toggle-nav .bar-1 {
        width: 30px;
        transform: translateY(7px) rotate(45deg);
    
    }
    .cross-toggle-nav .bar-2 {
        opacity: 0;
    
    }
    .cross-toggle-nav .bar-3 {
        width: 30px;
        transform: translateY(-7px) rotate(-45deg);
    
    }
    
    .nav-toggle-bar span{
        display: block;
        width: 100%;
        height: 2px;
        background-color: #fff;
        margin: 5px 0;
    }
    
    

}


